storage:
  dbPath: mongodb/data/db/config_db_1
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: mongodb/data/logs/config_db_1.log

net:
  port: 27017
  bindIp: localhost,127.0.0.1

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

replication:
  replSetName: shardConfigs

sharding:
  clusterRole: configsvr
