storage:
  dbPath: mongodb/data/db/router
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: mongodb/data/logs/router.log

net:
  port: 27017
  bindIp: 127.0.0.1
  bindIpAll: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

sharding:
  configDB: configServer/mongoConfig1:27017, mongoConfig2:27017
